<h1>Charts</h1>
<h2>Open Pull Requests Over Time</h2>
<img src="data:image/png;base64,{{ open_pr_chart_base64 }}" alt="Open Pull Requests Over Time">
<h2>Pull Requests Grouped by Label Size</h2>
<img src="data:image/png;base64,{{ pr_size_chart_base64 }}" alt="Pull Requests Grouped by Label Size">
<h1>Open Pull Requests ({{ pull_request_count }})</h1>
<table>
    <tr>
        <th>💬 PR</th>
        <th>📚 Title</th>
        <th>🏷️ Labels</th>
        <th>🗓️ Created at</th>
        <th>🤷‍ Author</th>
    </tr>
    {% for pr in pull_requests %}
    <tr>
        <td><a href="{{ pr.html_url }}">{{ pr.number }}</a></td>
        <td>{{ pr.title }}</td>
        <td>
            {% for label in pr.labels %}
            <pre>{{ label.name }}</pre>
            {% endfor %}
        </td>
        <td>{{ pr.created_at }}</td>
        <td>{{ pr.user.login }}</td>
    </tr>
    {% endfor %}
</table>
