<table style="width: 100%; border-collapse: collapse; border: none;">
    <tr>
        <td style="width: 66%; vertical-align: top; padding: 20px; border: none;">
            <h1 id="overview">👀 Overview</h1>
            <p>The DBA (Database Administrator) team is integral to maintaining the integrity and performance of our databases. To ensure quality, code reviews by DBAs are requested by engineers, QA, and architects under the following circumstances:</p>
            <ul>
                <li><strong>Query Updates</strong>: When a pull request includes or updates a query.</li>
                <li><strong>New Table or Index</strong>: When a pull request introduces a new table or index.</li>
            </ul>

            <br/><br/><h1 id="update-schedule">🗓️ Update Schedule</h1>
            <p>To keep everyone informed, this page is updated five times every business day (Monday to Friday) at the following times:</p>
            <table style="width: 100%; border: 1px solid #ddd; border-collapse: collapse; margin-top: 10px;">
                <thead>
                    <tr>
                        <th style="border: 1px solid #ddd; padding: 8px; text-align: left; background-color: #f4f4f4;">Time</th>
                        <th style="border: 1px solid #ddd; padding: 8px; text-align: left; background-color: #f4f4f4;">Day</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">8:00 AM</td>
                        <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">Mon - Fri</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">10:00 AM</td>
                        <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">Mon - Fri</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">1:00 PM</td>
                        <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">Mon - Fri</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">3:00 PM</td>
                        <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">Mon - Fri</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">5:00 PM</td>
                        <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">Mon - Fri</td>
                    </tr>
                </tbody>
            </table>

            <br/><br/><h1 id="real-time-monitoring">🥷 Real-Time Monitoring</h1>
            <p>For real-time updates, please use the GitHub Pull Request filter. This will allow you to see the status of reviews as they happen.</p>
            <pre>
                is:open is:pr review-requested:marcussantostrustly review-requested:chiessi-lmb archived:false
            </pre>

            <br/><br/><h1 id="prioritization">🚀 Prioritization and Contact Information</h1>
            <p>If you require prioritization of a code review, please contact me directly. We aim to accommodate urgent requests as best as possible.</p>
            <p>For any questions or concerns regarding the DBA code review process, or to request prioritization, please reach out to:</p>
            <ul>
                <li><strong>🤷‍ Luis Machado Reis</strong></li>
                <li><strong>✉️ luis.reis@trustly.com</strong></li>
                <li><strong>😅 @luismachadoreis</strong></li>
            </ul>

            <br/><br/><h1 id="open-pull-requests">📚 Open Pull Requests</h1>
            <p>To view open pull requests that require DBA code reviews, please refer to the GitHub Pull Request filter. This will provide a comprehensive list of all pending reviews.</p>
        </td>
        <td style="width: 34%; vertical-align: top; padding: 20px; border: none; background-color: #f4f4f4;">
            <h2>On this page</h2>
            <ul style="list-style-type: none; padding: 0;">
                <li style="padding: 5px 0"><a href="#overview">👀 Overview</a></li>
                <li style="padding: 5px 0"><a href="#update-schedule">🗓️ Update Schedule</a></li>
                <li style="padding: 5px 0"><a href="#real-time-monitoring">🥷 Real-Time Monitoring</a></li>
                <li style="padding: 5px 0"><a href="#prioritization">🚀 Prioritization and Contact Information</a></li>
                <li style="padding: 5px 0"><a href="#open-pull-requests">📚 Open Pull Requests</a></li>
            </ul>
        </td>
    </tr>
</table>
<table>
    <tr>
        <th>💬 PR</th>
        <th>📚 Title</th>
        <th>🏷️ Labels</th>
        <th>🗓️ Created at</th>
        <th>🤷‍ Author</th>
    </tr>
    {% for pr in pull_requests %}
    <tr>
        <td><a href="{{ pr.html_url }}">{{ pr.number }}</a></td>
        <td>{{ pr.title }}</td>
        <td>
            {% for label in pr.labels %}
            <pre>{{ label.name }}</pre>
            {% endfor %}
        </td>
        <td>{{ pr.created_at }}</td>
        <td>{{ pr.user.login }}</td>
    </tr>
    {% endfor %}
</table>

